html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}
body{
    // background: url('../images/bg4.jpg') no-repeat fixed right -175px bottom -70px;
    // background-size:cover;
    // filter:alpha(opacity=60);
    // -moz-opacity:0.6;
    // opacity:0.60;
}
div{
    border:0px solid red;
}