.login{
    padding: 15px;
    // background: url(../images/m2.jpg) no-repeat 20% 30%;

    &>div:nth-child(1),&>div:nth-child(3){
        padding: 15px 0 0 0;
        color: rgba(0, 0, 0, 0.65);
    }

    &>div:nth-child(5),&>div:nth-child(6){
        padding: 15px 0 0 0;
    }
    .altmsg{
        color:red;
        padding: 10px 0 0 0;
        font-size: 12px;
    }

    & input{
        width: 60%;
        height: 28px;
        border-radius: 5px;
        border:1px solid rgba(66, 66, 66, 0.35);
        outline: none;
        padding: 0 8px;
        color:rgba(0, 0, 0, 0.75);

        &[type="checkbox"]{
            width:15px;
            height:15px;
        }

        &[type="button"]{
            width:100px;
        }
    }

    // div{border: 1px solid red;}
}