//@import "../fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

* {
    div {
        border:1px solid rgba(255, 0, 0, 0.11);
    }
}

html,body{
    padding: 0;
    margin: 0;
}

